
@{
    Layout = null;
}
@model AppUserRegisterDto
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Registration Page (v2)</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Themes/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Themes/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Themes/AdminLTE/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>10</b>Yılım</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">10 yıllık takvimi kullanabilmek için kayıt ol</p>

                <form asp-action="Register" method="post">
                    <div class="input-group mb-3">
                        <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Adınız">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                      
                    </div>
                    <div class="input-group mb-1">  <span asp-validation-for="@Model.Name"></span> </div>
                    <div class="input-group mb-3">
                        <input asp-for="@Model.Lastname" type="text" class="form-control" placeholder="Soyadınız">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                          
                        </div>
                    </div>
                    <div class="input-group mb-1">  <span asp-validation-for="@Model.Lastname"></span> </div>

                    <div class="input-group mb-3">
                        <input asp-for="@Model.Email" type="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="input-group mb-1"><span asp-validation-for="@Model.Email"></span> </div>

                    <div class="input-group mb-3">
                        <input asp-for="@Model.Password" type="password" class="form-control" placeholder="Şifreniz">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>

                        </div>
                    </div>
                    <div class="input-group mb-1">  <span asp-validation-for="@Model.Password"></span> </div>

                    <div class="input-group mb-3">
                        <input type="password" asp-for="@Model.PasswordVerify" class="form-control" placeholder="Parola Doğrulama">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-1"> </div>
                    <span asp-validation-for="@Model.PasswordVerify"></span>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input asp-for="@Model.Privacy" type="checkbox" id="agreeTerms">
                                <label for="agreeTerms">
                                    I agree to the <a href="#">terms</a>
                                </label>

                            </div>
                            <div class="col-12">
                                <span asp-validation-for="@Model.Privacy"></span>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Kayıt Ol</button>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="col-4">
                        </div>
                        <!-- /.col -->
                    </div>
                </form>


                <a href="login.html" class="text-center">Ben zaten kayıtlıyım!</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="~/Themes/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Themes/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Themes/AdminLTE/dist/js/adminlte.min.js"></script>
</body>
</html>
